* {
  box-sizing: border-box;
}

body {
  margin: 90px 0;
  padding: 1rem;
  font-family: sans-serif;
  color: #445d48;
  background-color:#001524;
  height: 100vh;
}

p {
  padding: o;
  font-weight: 3rem;
  margin: 5px;
  color: #d6cc99;
}

h4{
  padding: 0;
  margin: 0;
  color: #fde5d4;
}
.countContainer {
  text-align: center;
  margin: 0 auto;
  border: 4px double;
  background-color: #ffff;
  border-radius: 2rem;
  height: fit-content;
  max-width: 70%;
}
h1 {
  font-weight: 900;
  font-size: 1.5rem;
}
.buttonstyle {
  padding: 20px;
  margin-bottom: 10px;
}

.qtest {
  max-width: 75%;
  margin: 0 20px ;
}

.q2{
  margin: 5px 15px;
}

.increment {
  width: 7rem;
  height: 3rem;
  border: 5px solid transparent;
  display: center;
  border-radius: 0.5rem;
  background-color: #D6CC99;
  font-weight: bold;
  font-size: medium;
}

.valstyle {
  width: 8.4rem;
  height: 3rem;
  border: 5px solide transparent;
  display: center;
  padding: 6px;
  margin: 35px 32px px;
  border-radius: 0.5rem;
  background-color: #3c4449;
  font-weight: bold;
  font-size: medium;
}

.homepage {
  text-align: center;
  margin: 40px;
  font-weight: 2.5rem;

}

.errorpagetest {
  text-align: center;
}
.numCount {
  font-size: 2rem;
  font-weight: 600;
  color:  #3c4449;
}

.mainpage {
  background: linear-gradient(to right, #f321a3, #ff4208, #23cf96, #f7e707);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-align: center;
}
.mainpage > h1 {
  font-size: 3rem;
}
.mainpage h1:nth-child(2) {
  font-size: 5rem;
}
.navlink {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.links {
  color:  #FF6969;
  background-color: #445d48;
  margin-top: 10px;
  margin-left: 10px;
  width: fit-content;
  padding-inline: 15px;
  padding-block: 5px;
  border: 2px solid FDE5D4;
  border-radius: 0.6rem;
  list-style: none;
}
.linksto {
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
}
.home {
  color: #4e4e52;
  font-weight: 900;
}

.errorpage {
  background: linear-gradient(to right, #2521f3, #ff0808, #cfcc23, #07f7a7);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-align: center;
  font-weight: 900;
  font-size: xxx-large;
}
.errorbtn {
  border: 3px solid  #D6CC99;
  background-color:  #FDE5D4;
  border-radius: 1rem;
  color:  rgb(37, 35, 35);
  font-size: 1rem;
  font-weight: 400;
  padding-inline: 1rem;
  padding-block: 1rem;
}
.errorContainer {
  margin: auto 0;
  margin-block-start: 5rem;
  display: flex;
  flex-direction: column;
}

.footer {
  color: #ffff;
  margin-top: 20%;
  padding-left: 30%;
}